<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>中国日报网英语点津_Language Tips</title>
    <meta name="keywords" content="热词,双语,影视,英语口语,英语词汇,中国日报网,China Daily" />
    <meta name="description" content="中国日报网英语点津_Language Tips" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no" />
    <link rel="stylesheet" charset="utf-8" href="//language.chinadaily.com.cn/css/2018/gy.css" />
    <link rel="stylesheet" charset="utf-8" href="//language.chinadaily.com.cn/css/2018/indexStyle.css" />
    <script type="text/javascript" src="//language.chinadaily.com.cn/js/2018/jquery-1.8.3.min.js" xml:space="preserve"></script>

    <!--天润统计代码 Start-->
    <META name="filetype" content="1" />
    <META name="publishedtype" content="1" />
    <META name="pagetype" content="2" />
    <meta name="catalogs" content="language" />
    <!--天润统计代码 End-->
    <style xml:space="preserve">
    .ad-top{width:1160px; margin:10px auto; overflow:auto;}
    </style>
  </head>
  <body>
    <!--20180911-->
    	 <div class="ad-top"> 
	 <!-- AdSame ShowCode: 英语点津 / 英语点津首页2018 / A1（顶通） Begin --> 
	 <script type="text/javascript" src="//same.chinadaily.com.cn/s?z=chinadaily&amp;c=2609" charset="gbk" xml:space="preserve"></script> 
	 <!-- AdSame ShowCode: 英语点津 / 英语点津首页2018 / A1（顶通） End --> 
	 </div> 
    
    <!-- 内容 -->
    <div class="content">
      <a href="//language.chinadaily.com.cn/xuexi/" target="_blank" class="content_top_img" shape="rect">
        <img src="//language.chinadaily.com.cn/img/2018/content_top_img.jpg" alt="英语学“习”" />
      </a>
      <!-- 内容头部 -->
      <div class="content_top">
        <!-- 左侧轮播 -->
        <div class="CT_lunbo">
          <img src="//language.chinadaily.com.cn/img/2018/CT_lunbo_btnL.png" alt="" class="CT_lunbo_btnL" />
          <img src="//language.chinadaily.com.cn/img/2018/CT_lunbo_btnR.png" alt="" class="CT_lunbo_btnR" />
          <div class="CT_lunbo_out">
            <!-- Flash 5b2085bda31001b8257204d6-->
            
              <ul class="CT_lunbo_in">
                
                  <li class="CT_lunbo_show">
                    <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e5439a3108348172597d8.html"><img src="//img2.chinadaily.com.cn/images/202007/15/5f0e5439a3108348fcdd5c49.jpeg_w773" /></a>
                    <div class="CT_lunbo_txt">
                      <div style="display:none;">5af95a57a3103f6866ee8447</div>
                      
                        <p class="CT_lunbo_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/news_bilingual">双语新闻</a></p>
                      
                      <p class="CT_lunbo_txt2"> <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e5439a3108348172597d8.html">没想到，疫情对职场穿着也产生了影响</a></p>
                    </div>
                  </li>
                
                
                  <li>
                    <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e540ba3108348172597d6.html"><img src="//img2.chinadaily.com.cn/images/202007/15/5f0e540ba3108348fcdd5c2b.jpeg_w773" /></a>
                    <div class="CT_lunbo_txt">
                      <div style="display:none;">5af95c97a3103f6866ee8450</div>
                      
                        <p class="CT_lunbo_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/news_photo">图片新闻</a></p>
                      
                      <p class="CT_lunbo_txt2"> <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e540ba3108348172597d6.html">社交媒体照片光鲜的背后原来是这样的！</a></p>
                    </div>
                  </li>
                
                
                  <li>
                    <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d0286a3108348172592d5.html"><img src="//img2.chinadaily.com.cn/images/202007/14/5f0d0286a3108348fcdd148a.jpeg_w773" /></a>
                    <div class="CT_lunbo_txt">
                      <div style="display:none;">5af95a57a3103f6866ee8447</div>
                      
                        <p class="CT_lunbo_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/news_bilingual">双语新闻</a></p>
                      
                      <p class="CT_lunbo_txt2"> <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d0286a3108348172592d5.html">研究：新冠病毒抗体可能在数月内消失</a></p>
                    </div>
                  </li>
                
              </ul>

          </div>
        </div>
        <!-- 右侧 -->
        <div class="CT_right">
          <!--首页推荐 5b208a88a31001b825720518 图片-->
          
            
              <div class="CT_right_box">
                <a class="a_img" target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e92c1a3108348172599b5.html"><img src="//img2.chinadaily.com.cn/images/202007/15/5f0e92c1a3108348fcdd7446.jpeg" /></a>
                <div class="CT_right_txt">
                  <div style="display:none;">5af95a57a3103f6866ee8447</div>
                  
                    <p class="CT_right_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/news_bilingual">双语新闻</a></p>
                  
                  <p class="CT_right_txt2"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e92c1a3108348172599b5.html">英国宣布禁用华为5G设备  华为回应</a></p>
                </div>
              </div>
            
            
              <div class="CT_right_box">
                <a class="a_img" target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0ebb23a310834817259a89.html"><img src="//img2.chinadaily.com.cn/images/202007/15/5f0ebb23a3108348fcdd83f2.jpeg" /></a>
                <div class="CT_right_txt">
                  <div style="display:none;">5af95ca9a3103f6866ee8452</div>
                  
                    <p class="CT_right_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/practice_tongue">实用口语</a></p>
                  
                  <p class="CT_right_txt2"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0ebb23a310834817259a89.html">为啥老外写信的首句总是hope this letter finds you well？</a></p>
                </div>
              </div>
            
          
        </div>
      </div>
      <div class="ad-top">
        <!-- AdSame ShowCode: 英语点津 / 英语点津首页2018 / A2（大图下方） Begin -->
<script type="text/javascript" src="//same.chinadaily.com.cn/s?z=chinadaily&amp;c=2610" charset="gbk" xml:space="preserve"></script>
<!-- AdSame ShowCode: 英语点津 / 英语点津首页2018 / A2（大图下方） End -->
      </div>
      <!-- 主体内容第一块 -->
      <div class="main">
        <div class="main_left">
          <div class="main_left_01">
            <!--精彩推荐 5b208a88a31001b825720518 除图片和头条-->
            
              
                <div class="gy_box">
                  <a target="_blank" class="gy_box_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0ed091a310834817259b2b.html"><img src="//img2.chinadaily.com.cn/images/202007/15/5f0ed091a3108348fcdd8bf3.jpeg" /></a>
                  <div class="gy_box_txt">
                    <div style="display:none;">5af95d3ba3103f6866ee845a</div>
                    
                      <p class="gy_box_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/audio_cd">新闻播报</a></p>
                    

                    <p class="gy_box_txt2">
                      <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0ed091a310834817259b2b.html">每日新闻播报（July 15）</a>
                    </p>
                    <p class="gy_box_txt3">
                      <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0ed091a310834817259b2b.html">今日播报内容：美国威胁将禁用TikTok；古董游戏卡带高价拍出；北方或发生区域性洪水；华为上半年营收增13.1% 。</a>
                    </p>
                  </div>
                </div>
              
                <div class="gy_box">
                  <a target="_blank" class="gy_box_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0ec05da310834817259ab9.html"><img src="//img2.chinadaily.com.cn/images/202007/15/5f0ec08fa3108348fcdd85e0.jpeg" /></a>
                  <div class="gy_box_txt">
                    <div style="display:none;">5af95b31a3103f6866ee844e</div>
                    
                      <p class="gy_box_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/trans_collect">译词课堂</a></p>
                    

                    <p class="gy_box_txt2">
                      <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0ec05da310834817259ab9.html">一课译词：拉锯战</a>
                    </p>
                    <p class="gy_box_txt3">
                      <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0ec05da310834817259ab9.html">“拉锯战”，是指竞争双方棋逢对手，你来我往不相上下，就像拉锯一样，故称拉锯战。</a>
                    </p>
                  </div>
                </div>
              
                <div class="gy_box">
                  <a target="_blank" class="gy_box_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e9e51a3108348172599f0.html"><img src="//img2.chinadaily.com.cn/images/202007/15/5f0e9e51a3108348fcdd780e.jpeg" /></a>
                  <div class="gy_box_txt">
                    <div style="display:none;">5af95a68a3103f6866ee8449</div>
                    
                      <p class="gy_box_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/news_hotwords">新闻热词</a></p>
                    

                    <p class="gy_box_txt2">
                      <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e9e51a3108348172599f0.html">文旅部：恢复跨省区市团队旅游</a>
                    </p>
                    <p class="gy_box_txt3">
                      <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e9e51a3108348172599f0.html">各地可恢复旅行社经营跨省（区、市）团队旅游，中、高风险地区不得开展团队旅游。出入境旅游业务暂不恢复。</a>
                    </p>
                  </div>
                </div> 
            


          </div>
          <!-- BBC英语 -->
          <div class="BBC">
            <!-- BBC英语教学频道 5af95d57a3103f6866ee845e-->
            <div class="BBC_title">
              <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/bbc">BBC英语</a>
              </div>
            <div class="BBC_main">
              
                
                  <div class="BBC_box">
                    <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e571ba310834817259808.html"><img src="//img2.chinadaily.com.cn/images/202007/15/5f0e571ba3108348fcdd5f33.jpeg" /></a>
                    <div class="BBC_box_txt_bj"></div>
                    <div class="BBC_box_txt">
                      <p><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e571ba310834817259808.html">辨析与 “菜肴、饮食” 有关的名词：Dish, course, diet, cuisine</a></p>
                    </div>
                  </div>
                
                
                  <div class="BBC_box">
                    <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d1844a310834817259456.html"><img src="//img2.chinadaily.com.cn/images/202007/14/5f0d1844a3108348fcdd2522.jpeg" /></a>
                    <div class="BBC_box_txt_bj"></div>
                    <div class="BBC_box_txt">
                      <p><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d1844a310834817259456.html">Be (as) thick as thieves 亲密无间</a></p>
                    </div>
                  </div>
                
                
                  <div class="BBC_box">
                    <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d181ca310834817259453.html"><img src="//img2.chinadaily.com.cn/images/202007/14/5f0d18aaa3108348fcdd25a1.jpeg" /></a>
                    <div class="BBC_box_txt_bj"></div>
                    <div class="BBC_box_txt">
                      <p><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d181ca310834817259453.html">Throw shade “扔出一片阴影” 的实际含义</a></p>
                    </div>
                  </div>
                
              

            </div>
          </div>
          <!-- 精彩推荐 -->
          <div class="jctj">
            <!-- 精彩推荐 5b208a88a31001b825720518-->
            <div class="jctj_title">
              <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/thelatest">精彩推荐</a>
              </div>
          
            
            
            
            
              <div class="gy_box">
                <a target="_blank" class="gy_box_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e974fa3108348172599c5.html"><img src="//img2.chinadaily.com.cn/images/202007/15/5f0e974fa3108348fcdd753a.jpeg" /></a>
                <div class="gy_box_txt">
                  <div style="display:none;">5d259c8aa3105895c2e7cc0f</div>
                  
                    <p class="gy_box_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/news_hotwords/word_of_the_day">每日一词</a></p>
                  

                  <p class="gy_box_txt2">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e974fa3108348172599c5.html">每日一词∣长江流域禁捕 the fishing ban in the Yangtze River basin</a>
                  </p>
                  <p class="gy_box_txt3">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e974fa3108348172599c5.html">必须从中华民族长远利益考虑，把修复长江生态环境摆在压倒性位置，共抓大保护、不搞大开发。</a>
                  </p>
                </div>
              </div>
            
              <div class="gy_box">
                <a target="_blank" class="gy_box_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e5439a3108348172597d8.html"><img src="//img2.chinadaily.com.cn/images/202007/15/5f0e5439a3108348fcdd5c47.jpeg" /></a>
                <div class="gy_box_txt">
                  <div style="display:none;">5af95a57a3103f6866ee8447</div>
                  
                    <p class="gy_box_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/news_bilingual">双语新闻</a></p>
                  

                  <p class="gy_box_txt2">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e5439a3108348172597d8.html">没想到，疫情对职场穿着也产生了影响</a>
                  </p>
                  <p class="gy_box_txt3">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e5439a3108348172597d8.html">疫情让许多人开启了在家办公模式，一身睡衣可以穿半年。与此同时卖正装的企业则迎来了“寒冬”，连布鲁克斯兄弟也申请了破产。</a>
                  </p>
                </div>
              </div> 
          


          </div>
        </div>
        <div class="main_right">
          <!-- <div class="main_right_01">
           精彩推荐 5b208a88a31001b825720518 头条-->
           <!-- <cms:storylist th:attr="channelId=|${site.dirname}|,type='block',columnId='5b208a88a31001b825720518',blocktag='2',count='5'">
              <th:block th:each="story,iterStat:${storyList}">
                <div class="gy_box2">
                  <p>
                    <span style="display:none;"><th:block th:text="${story.columnId}"></th:block></span>
                    <cms:column th:attr="columnId=|${story.columnId}|">
                      <a th:href="${column.prUrl}" th:text="|| ${column.name}|" class="gy_box2_a1" target="_blank"></a>
                    </cms:column>
                    <a th:href="${story.prUrl}" th:utext="${#strings.isEmpty(story.linkTitle) ? story.title : story.linkTitle}" class="gy_box2_a2" target="_blank"></a>
                  </p>
                </div>
              </th:block>
            </cms:storylist>	
                 
          </div> -->
  <!-- 订阅和关注 -->
       
      <div class="dyhgz" style="margin-top:0px;">
            <div class="dyhgz_title">
              订阅和关注
            </div>
            <div class="dyhgz_main">
              <div class="dyhgz_left_out">
                <div class="dyhgz_left">
                  <a href="//www.chinadaily.com.cn/mobile_cn/web.html" target="_blank" class="a_img" shape="rect">
                    <img src="//language.chinadaily.com.cn/img/2018/sy.png" alt="" />
                  </a>
                  <a href="//www.chinadaily.com.cn/mobile_cn/web.html" target="_blank" class="dyhgz_left_txt" shape="rect">订阅手机报</a>
                </div>
                <div class="dyhgz_left">
                  <a href="https://weibo.com/languagetips" target="_blank" class="a_img" shape="rect">
                    <img src="//language.chinadaily.com.cn/img/2018/wb.png" alt="" />
                  </a>
                  <a href="https://weibo.com/languagetips" target="_blank" class="dyhgz_left_txt" shape="rect">关 注 微 博</a>
                </div>
              </div>
              <div class="dyhgz_right">
                <span class="syxcx">双语小程序</span>

                <img src="//language.chinadaily.com.cn/img/2018/syxcx_img.jpg" alt="" class="syxcx_img" />

              </div>
            </div>
          </div>
          <!-- 人气排行 -->
          <div class="rqph">
            <div class="rqph_title">
              人气排行
            </div>
            <script src="https://www.chinadaily.com.cn/html/topnews/language.js" xml:space="preserve"></script>
            <script xml:space="preserve">
              //<![CDATA[
              var num = 11;
              for(var i=0;i<3;i++){
                var No = i+1;
                document.write('<div class=\"gy_box2 gy_box2_color' + No + '\"><p><a href=\"'+cd_json[i].url+'\" class=\"gy_box2_a2\" target=\"_blank\">'+cd_json[i].title+'</a></p></div>');
              }
              for(var n=3;n<num;n++){
                var Non = n+1;
                document.write('<div class=\"gy_box2\"><p><a href=\"'+cd_json[n].url+'\" class=\"gy_box2_a2\" target=\"_blank\">'+cd_json[n].title+'</a></p></div>');
              }
              //]]>
            </script>

          </div>
        </div>
      </div>
      <!-- 视频 -->
      <div class="video_out">
        <div class="video_title">
          <!--视频 5af95d2da3103f6866ee8458-->
          
            <a class="a_video" target="_blank" shape="rect" href="//language.chinadaily.com.cn/video_links">视频精选</a>
          
          <div class="video_btn">
            <p class="video_btn_right">&lt;</p>
            <p class="video_btn_left">&gt;</p>
          </div>
        </div>
        <div class="video_lunbo">
          <!--视频 5af95d2da3103f6866ee8458-->
          <ul>
            
              
                <li>
                  <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/10/WS5f07e11fa31083481725894f.html"><img src="//img2.chinadaily.com.cn/images/202007/10/5f07e11fa3108348fcdc57f5.jpeg" /></a>
                  <div class="video_txt_out">
                    <img src="//language.chinadaily.com.cn/img/2018/video_tb.jpg" alt="" />
                    <div class="video_txt">
                      <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/10/WS5f07e11fa31083481725894f.html">独家视频：四川悬崖村800米藤梯变钢梯，原来是他们建的！</a>
                    </div>
                  </div>
                </li>
              
              
                <li>
                  <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202006/16/WS5ee8829fa310834817253704.html"><img src="//img2.chinadaily.com.cn/images/202006/16/5ee8829fa3108348fcd5ddf9.jpeg" /></a>
                  <div class="video_txt_out">
                    <img src="//language.chinadaily.com.cn/img/2018/video_tb.jpg" alt="" />
                    <div class="video_txt">
                      <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202006/16/WS5ee8829fa310834817253704.html">中国做法：中国抗疫热词之应收尽收</a>
                    </div>
                  </div>
                </li>
              
              
                <li>
                  <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202006/12/WS5ee2fe46a310834817252a91.html"><img src="//img2.chinadaily.com.cn/images/202006/12/5ee2fe46a3108348fcd4a5c6.jpeg" /></a>
                  <div class="video_txt_out">
                    <img src="//language.chinadaily.com.cn/img/2018/video_tb.jpg" alt="" />
                    <div class="video_txt">
                      <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202006/12/WS5ee2fe46a310834817252a91.html">奥巴马2020年全美高中生线上毕业致辞</a>
                    </div>
                  </div>
                </li>
              
              
                <li>
                  <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202005/30/WS5ee881d2a3108348172536fe.html"><img src="//img2.chinadaily.com.cn/images/202006/16/5ee881d2a3108348fcd5dd96.jpeg" /></a>
                  <div class="video_txt_out">
                    <img src="//language.chinadaily.com.cn/img/2018/video_tb.jpg" alt="" />
                    <div class="video_txt">
                      <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202005/30/WS5ee881d2a3108348172536fe.html">中国做法：中国抗疫热词之不惜一切代价</a>
                    </div>
                  </div>
                </li>
              
              
                <li>
                  <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202005/25/WS5ee8806ba3108348172536f5.html"><img src="//img2.chinadaily.com.cn/images/202006/16/5ee8806ba3108348fcd5dd0a.png" /></a>
                  <div class="video_txt_out">
                    <img src="//language.chinadaily.com.cn/img/2018/video_tb.jpg" alt="" />
                    <div class="video_txt">
                      <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202005/25/WS5ee8806ba3108348172536f5.html">中国做法：中国抗疫热词之联防联控</a>
                    </div>
                  </div>
                </li>
              
              
                <li>
                  <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202005/20/WS5ec49043a310a8b241156faa.html"><img src="//img2.chinadaily.com.cn/images/202005/20/5ec49043a310a8b2fa483b7e.jpeg" /></a>
                  <div class="video_txt_out">
                    <img src="//language.chinadaily.com.cn/img/2018/video_tb.jpg" alt="" />
                    <div class="video_txt">
                      <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202005/20/WS5ec49043a310a8b241156faa.html">有影响力的政协提案：五天工作制</a>
                    </div>
                  </div>
                </li>
              
              
                <li>
                  <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202005/16/WS5ee87fbaa3108348172536f0.html"><img src="//img2.chinadaily.com.cn/images/202006/16/5ee87fbaa3108348fcd5dcf5.png" /></a>
                  <div class="video_txt_out">
                    <img src="//language.chinadaily.com.cn/img/2018/video_tb.jpg" alt="" />
                    <div class="video_txt">
                      <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202005/16/WS5ee87fbaa3108348172536f0.html">词解中国：中国抗疫热词之举国之力</a>
                    </div>
                  </div>
                </li>
              
              
                <li>
                  <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202005/09/WS5eb6778ea310a8b241154851.html"><img src="//img2.chinadaily.com.cn/images/202005/09/5eb6778ea310a8b2fa44644b.png" /></a>
                  <div class="video_txt_out">
                    <img src="//language.chinadaily.com.cn/img/2018/video_tb.jpg" alt="" />
                    <div class="video_txt">
                      <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202005/09/WS5eb6778ea310a8b241154851.html">英女王最新演讲：永不言弃，永不绝望！</a>
                    </div>
                  </div>
                </li>
              
            

          </ul>
        </div>
      </div>
      <!-- 主体内容第三块 -->
      <div class="main">
        <div class="main_left main_left3">
          <!-- 精彩推荐 5b208a88a31001b825720518-->
          
            
            
            
            
            
            
              <div class="gy_box">
                <a target="_blank" class="gy_box_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d7024a31083481725960c.html"><img src="//img2.chinadaily.com.cn/images/202007/14/5f0d7052a3108348fcdd3f71.jpeg" /></a>
                <div class="gy_box_txt">
                  <div style="display:none;">5af95b31a3103f6866ee844e</div>
                  
                    <p class="gy_box_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/trans_collect">译词课堂</a></p>
                  

                  <p class="gy_box_txt2">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d7024a31083481725960c.html">一课译词：风雨无阻</a>
                  </p>
                  <p class="gy_box_txt3">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d7024a31083481725960c.html">“风雨无阻”，意思是“不受刮风下雨的阻碍（stopped by neither wind nor rain -- regardless of the weather）。</a>
                  </p>
                </div>
              </div>
            
              <div class="gy_box">
                <a target="_blank" class="gy_box_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d647ba3108348172595af.html"><img src="//img2.chinadaily.com.cn/images/202007/14/5f0d6b4da3108348fcdd3da6.jpeg" /></a>
                <div class="gy_box_txt">
                  <div style="display:none;">5af95d3ba3103f6866ee845a</div>
                  
                    <p class="gy_box_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/audio_cd">新闻播报</a></p>
                  

                  <p class="gy_box_txt2">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d647ba3108348172595af.html">每日新闻播报（July 14）</a>
                  </p>
                  <p class="gy_box_txt3">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d647ba3108348172595af.html">今日播报内容：故宫主题特种邮票发行；特朗普首次公开戴口罩；二季度GDP大概率转正；多条河流湖泊水位超高。</a>
                  </p>
                </div>
              </div>
            
              <div class="gy_box">
                <a target="_blank" class="gy_box_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d47cfa31083481725954f.html"><img src="//img2.chinadaily.com.cn/images/202007/14/5f0d47cfa3108348fcdd32f4.jpeg" /></a>
                <div class="gy_box_txt">
                  <div style="display:none;">5af95d24a3103f6866ee8456</div>
                  
                    <p class="gy_box_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/columnist">专栏作家</a></p>
                  

                  <p class="gy_box_txt2">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d47cfa31083481725954f.html">Body blow? 重击</a>
                  </p>
                  <p class="gy_box_txt3">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d47cfa31083481725954f.html">Body blow意思是重击、巨大的挫折。</a>
                  </p>
                </div>
              </div>
            
              <div class="gy_box">
                <a target="_blank" class="gy_box_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d4009a310834817259540.html"><img src="//img2.chinadaily.com.cn/images/202007/14/5f0d4009a3108348fcdd31c0.jpeg" /></a>
                <div class="gy_box_txt">
                  <div style="display:none;">5af95a57a3103f6866ee8447</div>
                  
                    <p class="gy_box_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/news_bilingual">双语新闻</a></p>
                  

                  <p class="gy_box_txt2">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d4009a310834817259540.html">谭德塞：新冠病毒仍是头号公敌 太多国家正朝着错误的方向前进</a>
                  </p>
                  <p class="gy_box_txt3">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d4009a310834817259540.html">谭德塞在记者会上表示，太多的国家正朝着错误的方向前进，新冠病毒仍是头号公敌。</a>
                  </p>
                </div>
              </div>
            
              <div class="gy_box">
                <a target="_blank" class="gy_box_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d3fb3a31083481725953e.html"><img src="//img2.chinadaily.com.cn/images/202007/14/5f0d3fb3a3108348fcdd31ad.jpeg" /></a>
                <div class="gy_box_txt">
                  <div style="display:none;">5af95a68a3103f6866ee8449</div>
                  
                    <p class="gy_box_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/news_hotwords">新闻热词</a></p>
                  

                  <p class="gy_box_txt2">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d3fb3a31083481725953e.html">我国三年将投资约1.29万亿元推进150项重大水利工程建设</a>
                  </p>
                  <p class="gy_box_txt3">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d3fb3a31083481725953e.html">工程实施后，预计可新增防洪库容约90亿立方米，增加年供水能力约420亿立方米。</a>
                  </p>
                </div>
              </div>
            
              <div class="gy_box">
                <a target="_blank" class="gy_box_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d156da310834817259431.html"><img src="//img2.chinadaily.com.cn/images/202007/14/5f0d156da3108348fcdd2347.jpeg" /></a>
                <div class="gy_box_txt">
                  <div style="display:none;">5af95ca9a3103f6866ee8452</div>
                  
                    <p class="gy_box_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/practice_tongue">实用口语</a></p>
                  

                  <p class="gy_box_txt2">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d156da310834817259431.html">真是倾盆大雨呀!</a>
                  </p>
                  <p class="gy_box_txt3">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d156da310834817259431.html">英语中关于“下雨了”的表达方式，你知道多少呢？</a>
                  </p>
                </div>
              </div>
            
              <div class="gy_box">
                <a target="_blank" class="gy_box_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d0390a3108348172592df.html"><img src="//img2.chinadaily.com.cn/images/202007/14/5f0d0390a3108348fcdd1565.jpeg" /></a>
                <div class="gy_box_txt">
                  <div style="display:none;">5d259c8aa3105895c2e7cc0f</div>
                  
                    <p class="gy_box_txt1"><a target="_blank" shape="rect" href="//language.chinadaily.com.cn/news_hotwords/word_of_the_day">每日一词</a></p>
                  

                  <p class="gy_box_txt2">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d0390a3108348172592df.html">每日一词∣医保基金监管制度体系</a>
                  </p>
                  <p class="gy_box_txt3">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d0390a3108348172592df.html">要推进监管制度体系改革，建立智能监控、举报奖励、信用管理制度，完善社会监督制度。</a>
                  </p>
                </div>
              </div> 
          

          <!-- 加载更多 -->
          
              <a target="_blank" class="jzgd" shape="rect" href="//language.chinadaily.com.cn/thelatest">点击查看更多</a>
              
        
        </div>
        <div class="main_right">
          <!-- 图片新闻 5af95c97a3103f6866ee8450 -->
          <div class="main_img">
            <div class="main_img_title">
              
                <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/news_photo">图片新闻</a>
              
            </div>
              <!-- 图片新闻 5af95c97a3103f6866ee8450 -->
            
              
                <div class="gy_box3">
                  <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e540ba3108348172597d6.html"><img src="//img2.chinadaily.com.cn/images/202007/15/5f0e540ba3108348fcdd5c29.jpeg" /></a>       
                  <div class="gy_box3_txt">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/15/WS5f0e540ba3108348172597d6.html">社交媒体照片光鲜的背后原来是这样的！</a>
                  </div>
                </div>
              
              
                <div class="gy_box3">
                  <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d025ca3108348172592d3.html"><img src="//img2.chinadaily.com.cn/images/202007/14/5f0d025ca3108348fcdd1460.jpeg" /></a>       
                  <div class="gy_box3_txt">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/14/WS5f0d025ca3108348172592d3.html">换上现代装扮后 迪士尼公主们变得如此风情万种</a>
                  </div>
                </div>
              
              
                <div class="gy_box3">
                  <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202007/13/WS5f0bb0c1a310834817258e0c.html"><img src="//img2.chinadaily.com.cn/images/202007/13/5f0bb0c1a3108348fcdccbb5.jpeg" /></a>       
                  <div class="gy_box3_txt">
                    <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202007/13/WS5f0bb0c1a310834817258e0c.html">装在画框里的猫咪：可爱还是惊悚？</a>
                  </div>
                </div>
               
            
          </div>
          <div class="ad">
            <!-- AdSame ShowCode: 英语点津 / 英语点津首页2018 / D1（首页右下） Begin -->
<script type="text/javascript" src="//same.chinadaily.com.cn/s?z=chinadaily&amp;c=2611" charset="gbk" xml:space="preserve"></script>
<!-- AdSame ShowCode: 英语点津 / 英语点津首页2018 / D1（首页右下） End -->
          </div>
          <!-- 专题 -->
          <div class="zhuangti">
            <!-- 专题 5af95d72a3103f6866ee8464 -->
            <div class="zhuangti_title">
              
                <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/spec">精彩专题</a>
              
            </div>
            

   <div class="gy_box4">
              <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202005/27/WS5ecdde76a310a8b241158d22.html"><img src="//img2.chinadaily.com.cn/images/202005/27/5ecdde76a310a8b2fa4b97d9.png" /></a>
              <div class="gy_box4_txt">
                <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202005/27/WS5ecdde76a310a8b241158d22.html">2020年双语看两会</a>
              </div>
            </div>


   <div class="gy_box4">
              <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/202003/03/WS5e5dab26a31012821727bc56.html"><img src="//img2.chinadaily.com.cn/images/202003/03/5e5dab95a31012820657f7f8.jpeg" /></a>
              <div class="gy_box4_txt">
                <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/202003/03/WS5e5dab26a31012821727bc56.html">众志成城， 一起抗“疫”</a>
              </div>
            </div>


   <div class="gy_box4">
              <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/201912/23/WS5e001190a310cf3e3557fe10.html"><img src="//img2.chinadaily.com.cn/images/201912/23/5e001190a310cf3e97ad0c38.jpeg" /></a>
              <div class="gy_box4_txt">
                <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/201912/23/WS5e001190a310cf3e3557fe10.html">2019年终盘点</a>
              </div>
            </div>


   <div class="gy_box4">
              <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/201909/23/WS5d8839c9a310cf3e3556ce8d.html"><img src="//img2.chinadaily.com.cn/images/201909/23/5d8839f1a310cf3e979d7c02.jpeg" /></a>
              <div class="gy_box4_txt">
                <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/201909/23/WS5d8839c9a310cf3e3556ce8d.html">70年流行词回顾</a>
              </div>
            </div>


   <div class="gy_box4">
              <a target="_blank" class="a_img" shape="rect" href="//language.chinadaily.com.cn/a/201903/04/WS5c7c7e14a3106c65c34ec7f0.html"><img src="//img2.chinadaily.com.cn/images/201903/04/5c7c7e14a3106c65fffd16bc.jpeg" /></a>
              <div class="gy_box4_txt">
                <a target="_blank" shape="rect" href="//language.chinadaily.com.cn/a/201903/04/WS5c7c7e14a3106c65c34ec7f0.html">2019双语看两会</a>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
       
      <div style="display:none">
        <script type="text/javascript">
          //<![CDATA[
          document.write(unescape("%3Cscript src='//cl2.webterren.com/webdig.js?z=16' type='text/javascript'%3E%3C/script%3E"));
          //]]>
        </script>
        <script type="text/javascript">
          //<![CDATA[
          wd_paramtracker("_wdxid=000000000000000000000000000000000000000000")
          //]]>
        </script>
      </div>
    
    
      <div style="display:none;">
        <script src="//s13.cnzz.com/stat.php?id=3089622&amp;web_id=3089622" language="JavaScript"></script>
        <!-- Start Alexa Certify Javascript -->
        <script type="text/javascript">
          //<![CDATA[
          _atrk_opts = { atrk_acct:"uM+9j1a8Dy00qn", domain:"chinadaily.com.cn",dynamic: true};
          (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
          //]]>
        </script>
        <noscript><img src="https://certify.alexametrics.com/atrk.gif?account=uM+9j1a8Dy00qn" style="display:none" height="1" width="1" alt="" /></noscript>
        <!-- End Alexa Certify Javascript -->  
      </div>

    
  </body>
<script src="//language.chinadaily.com.cn/js/2018/gy.js" xml:space="preserve"></script>
  <script src="//language.chinadaily.com.cn/js/2018/indexJS.js" xml:space="preserve"></script>
</html>